ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 20px;
    /*background: #FF0000;*/
}
li {
    float: right;
}
#moon {
    margin-top: 10px;
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 27px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-style:ridge;
    border-width: 1px;
    border-radius: 10%;
    border-color: black;

  }
  
li a:hover {
    background-color: #3633ff;
    border-radius: 10%;
}

#intro {
    width: 400px;
    height: 20px;
    /*background-color: #3633ff;*/
    font-size: 23px;
    border-radius: 6%;
    margin-top: 110px;
    margin-left: 0px;
}
#imag img {
    margin-top: 0px;
    width: 250px;
    border-radius: 10%;
}
p img {
    width: 10px;
}
#imag {
    position: absolute;
    top: 140px;
    right: 1px;
    /* background-color: #3633ff; */
    width: 30%;
}
#intro p {
    padding-top: 5%;
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

